<%= link_to "", poster_path, class: "previous" %>
<%= link_to "", ifsb_path, class: "next" %>

<div class="container-fluid">
  <section class="hero">
    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "CAMBIO1.png", {class: "img-responsive"} %>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="row row-space">
      <div class="col-xs-4">
        <p>Web design, Application, UI/UX, Art direction</p>
      </div>
      <div class="col-xs-8">
        <p>Redesign of <a href="http://www.cambio.be/" target="_blank">Cambio</a>, a car sharing company.</p>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "CAMBIO2.png", {class: "img-responsive"} %>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "CAMBIO3.gif", {class: "img-responsive"} %>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "CAMBIO4.gif", {class: "img-responsive"} %>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "CAMBIO5.png", {class: "img-responsive"} %>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "CAMBIO6.png", {class: "img-responsive"} %>
      </div>
    </div>

        <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
         <iframe src="https://player.vimeo.com/video/138141667" width="100%" height="650px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 arrows">
        <%= link_to poster_path do %>
          <%= image_tag "ARROWPREV.png", {class: "arrow"} %>
        <% end %>
        <%= link_to ifsb_path do%>
          <%= image_tag "ARROW.png", {class: "arrow"} %>
        <% end %>
      </div>
    </div>

  </section>
</div>
