<%= link_to "", adposter_path, class: "previous" %>
<%= link_to "", dhl_path, class: "next" %>

<div class="container-fluid">
  <section class="hero">
    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "DAD2.gif", {class: "img-responsive"} %>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="row row-no-padding row-space">
      <div class="col-xs-4">
        <p>Poster, Art Direction, Miscellaneous</p>
      </div>
      <div class="col-xs-8 left-margin">
        <p>Portraits of my dad. troll troll troll.</p>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "DAD1.gif", {class: "img-responsive"} %>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="col-xs-6 col-sm-6">
        <%= image_tag "DAD7.gif", {class: "img-responsive"} %>
      </div>
      <div class="col-xs-6 col-sm-6">
        <%= image_tag "DAD8.gif", {class: "img-responsive"} %>
      </div>
    </div>

    <div class="row fixed">
      <div class="col-xs-12 col-sm-12 arrows">
        <%= link_to adposter_path do %>
          <%= image_tag "ARROWPREV.png", {class: "arrow left mobileshow"} %>
        <% end %>
        <%= link_to dhl_path do%>
          <%= image_tag "ARROW.png", {class: "arrow right mobileshow"} %>
        <% end %>
      </div>
    </div>
  </section>
</div>
