<%= link_to "", dad_path, class: "previous" %>
<%= link_to "", poster_path, class: "next" %>

<div class="container-fluid">
  <section class="hero">
    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "DHL1.png", {class: "img-responsive"} %>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="row row-space">
      <div class="col-xs-4">
        <p>UI/UX, Mobile application</p>
      </div>
      <div class="col-xs-8">
        <p>Redesigning DHL mobile interface to make it more appealing and easier to use. Each additional step will add clearly the price on top of the page.</p>
      </div>
    </div>

    <div class="row row-no-padding white-bg">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "DHL2.png", {class: "img-responsive"} %>
      </div>
    </div>

    <div class="row row-no-padding white-bg">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "DHL3.png", {class: "img-responsive"} %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 arrows">
        <%= link_to dad_path do %>
          <%= image_tag "ARROWPREV.png", {class: "arrow"} %>
        <% end %>
        <%= link_to poster_path do%>
          <%= image_tag "ARROW.png", {class: "arrow"} %>
        <% end %>
      </div>
    </div>
  </section>
</div>
