<div class="container">

 <div class="row row-no-padding">
  <div class="col-xs-12 col-sm-6">
    <%= image_tag "POSTER.png", {class: "img-responsive"} %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag "CAMBIO.png", {class: "img-responsive"} %>
  </div>
</div>

 <div class="row row-no-padding">
  <div class="col-xs-12 col-sm-6">
    <%= image_tag "IFSB.png", {class: "img-responsive"} %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag "ZURU.png", {class: "img-responsive"} %>
  </div>
</div>

 <div class="row row-no-padding">
  <div class="col-xs-12 col-sm-6">
    <%= image_tag "CAR.png", {class: "img-responsive"} %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag "ADPOSTER.png", {class: "img-responsive"} %>
  </div>
</div>

 <div class="row row-no-padding">
  <div class="col-xs-12 col-sm-6">
    <%= image_tag "DAD.png", {class: "img-responsive"} %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag "DHL.png", {class: "img-responsive"} %>
  </div>
</div>

</div>
