<div id="bodyContent">


<%= link_to "", dhl_path, class: "next" %>

<div class="container-fluid">
  <section class="hero">
    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "POSTER2.png", {class: "img-responsive"} %>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="row row-space">
      <div class="col-xs-4">
        <p>Illustration, Art direction, Minimal</p>
      </div>
      <div class="col-xs-8">
        <p>Minimalist poster for the movie "Life of Pi"</p>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "POSTER3.png", {class: "img-responsive"} %>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "POSTER4.png", {class: "img-responsive"} %>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "POSTER5.png", {class: "img-responsive"} %>
      </div>
    </div>
  </section>
</div>

</div>
