<div class="container-fluid">
  <section class="hero">
    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "ZURU1.png", {class: "img-responsive"} %>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="row row-space">
      <div class="col-xs-4">
        <p>Illustration, Art direction, Minimal</p>
      </div>
      <div class="col-xs-8">
        <p>Branding of a new noodle brand.</p>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "ZURUB.png", {class: "img-responsive"} %>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "ZURU2.png", {class: "img-responsive"} %>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "ZURU4.png", {class: "img-responsive"} %>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "ZURU3.png", {class: "img-responsive"} %>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "ZURU5.png", {class: "img-responsive"} %>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "ZURU7.png", {class: "img-responsive"} %>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "ZURU8.png", {class: "img-responsive"} %>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <iframe src="https://player.vimeo.com/video/138181499" width="100%" height="720px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "ZURU.gif", {class: "img-responsive"} %>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "ZURU6.png", {class: "img-responsive"} %>
      </div>
    </div>

  </section>
</div>
