<%= link_to "", ifsb_path, class: "previous" %>
<%= link_to "", car_path, class: "next" %>

<div class="container-fluid wrapper">
  <section class="hero">
    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "ZURU1.png", {class: "img-responsive"} %>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="row row-no-padding row-space">
      <div class="col-xs-4">
        <p>Illustration, Art direction, Minimal</p>
      </div>
      <div class="col-xs-8 left-margin">
        <p>Branding of a new noodle brand.</p>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "ZURUB.png", {class: "img-responsive"} %>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "ZURU2.png", {class: "img-responsive"} %>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "ZURU4.png", {class: "img-responsive"} %>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "ZURU3.png", {class: "img-responsive"} %>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "ZURU5.png", {class: "img-responsive"} %>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "ZURU7.png", {class: "img-responsive"} %>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "ZURU8.png", {class: "img-responsive"} %>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "ZURUWEB.gif", {class: "img-responsive"} %>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "ZURU.gif", {class: "img-responsive"} %>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12 white-bg">
        <%= image_tag "ZURU6.png", {class: "img-responsive"} %>
      </div>
    </div>

    <div class="row fixed">
      <div class="col-xs-12 col-sm-12 arrows">
        <%= link_to ifsb_path do %>
          <%= image_tag "ARROWPREV.png", {class: "arrow left mobileshow"} %>
        <% end %>
        <%= link_to car_path do%>
          <%= image_tag "ARROW.png", {class: "arrow right mobileshow"} %>
        <% end %>
      </div>
    </div>
  </section>

</div>
